<label for="profile_name">Name</label>
<input id="profile_name" name="profile[name]" type="text" class="form-control" value="<%= @profile.name %>">
<label>Status </label>
<div style="width:30%">
	<select name="profile[status]" class="selectpicker form-control">
	<option value="Single">Single</option>
	<option value="Married">Married</option>
	<option value="Seeing Someone">Seeing Someone</option>
	</select> 
	<label for="profile_ethnicity"> Ethnicity </label>
	<input id="profile_ethnicity" name="profile[ethnicity]" type="text" class="form-control" value="<%= @profile.ethnicity %>">
	<label for="profile_height"> Height </label>
	<input id="profile_height" name="profile[height]" type="text" class="form-control" value="<%= @profile.height %>">
</div>
<label for="profile_content"> About Me </label>
<textarea id="profile_content" name="profile[content]" type="text" class="form-control" rows="6"> <%= @profile.content %> </textarea>
</br>
