<a href="/profiles/new" class="btn btn-success" > New Profile </a>

<h3> - Current Hyperdaters - </h3>

<% if @profiles.first == nil %>
	<p> < None > </p>
<% end %>

<% @profiles.each do |profile| %>
	<li> <a href=""> <%= profile.name %> </a> </li>
<% end %>