<h1> New Profile </h1>

<form action="/profiles" method="post" role="form">
  <div class="form-group col-md-6">
	  <%= render('form') %>
	  <button type="submit" class="btn btn-success">Create Contact</button>
  </div>
</form>

