<h1> New Profile </h1>

<form action="/profiles" method="post" role="form">
	<div class="form-group col-md-6">
	  	<label for="profile_name">Name</label>
	    <input id="profile_name" name="profile[name]" type="text" class="form-control">
	    <label>Status </label>
	    <div style="width:30%">
		    <select class="selectpicker form-control">
		    	<option>Single</option>
		    	<option>Married</option>
		    	<option>Seeing Someone</option>
		 	</select> 
		  	<label for="profile_ethnicity"> Ethnicity </label>
		  	<input id="profile_ethnicity" name="profile[ethnicity]" type="text" class="form-control">
			<label for="profile_height"> Height </label>
			<input id="profile_height" name="profile[height]" type="text" class="form-control">
		</div>
	 	<label for="profile_content"> About Me </label>
	 	<textarea id="profile_content" name="profile[content]" type="text" class="form-control" rows="6"></textarea>
		</br>
	 	<button type="submit" class="btn btn-success">Create Contact</button>
	</div>

</form>