body {
	background-color: #FFBFD6
}

.container {
	background-color: white;
	height:800px;
}

.red {
	background-color:red;
	color:white;
	text-align: center;
}

.blue {
	background-color:blue;
	color:white;
	text-align: center;
}

